<h1>Register</h1>

<% if flash[:alert] %>
  <div class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_for @user, url: users_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true  %>

  <%= f.label :username %>
  <%= f.text_field :username, required: true  %>

  <%= f.label :password %>
  <%= f.password_field :password, required: true %>

  <%= f.submit 'Register' %>
<% end %>
